img {
    height: 200px;
    width: 200px;
  }

#red{
    color:red;
  }

  #blue{
    color:blue;
  }
  #orange{
    color:orange;
  }
  #green{
    color:green;
  }

#yellow{
  color:yellow;
}

  .color-title{
    font-weight: normal;
}

#my-unique-id{
    font-size: 40px;
    font-weight: bold;
    background-color: #d1cbb8;
    display: block;
      }